[submodule "vendor/datascript"]
	path = vendor/datascript
	url = git@github.com:sgrove/datascript.git
[submodule "vendor/dato"]
	path = vendor/dato
	url = git@github.com:sgrove/dato.git
[submodule "vendor/garden"]
	path = vendor/garden
	url = git@github.com:sgrove/garden.git
